# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.iml

# Android
android/.gradle/
android/local.properties

# Codemagic/CI
flutter/
java/
nvm/
.ruby/
.vscode-remote/
project.zip
*.zip
build-tools/
