build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build-tools/
project.zip
flutter/
java/
nvm/
.ruby/
.vscode-remote/
android/local.properties
android/.gradle/
*.zip
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
*.jks
*.keystore
key.properties
android/key.properties
